{% extends 'layouts/base.html' %}
{% block title %}
    {%- if rpm == '-ALL-' %}
        Easy Manager - rpms-changelog
    {%- else %}
        Easy Manager - rpms-changelog/{{ rpm }}
    {%- endif %}
{% endblock %}

{% block body %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tables.css') }}">
            <table id="filter-table">
                <tr>
                    <!-- RPM selection dropdown list -->
                    <td class="thin-border theme themed-hover">
                        <ul class="em-dropdown-cell em-dropdown">
                            <li class="dropdown text-large ">
                                <a data-toggle="dropdown" class="theme nodeco" href="#">
                                    {%- if rpm == '-ALL-' %}
                                    <b class="fab fa-redhat"></b><b class="nodeco largest-text"> Select a RPM</b>
                                    {%- else %}
                                    <b class="fa fab-redhat"></b><b class="nodeco largest-text"> {{ rpm }}</b>
                                    {%- endif %}
                                    <b class="fas fa-caret-down"></b>
                                </a>
                                <ul class="dropdown-menu" id="user-dropdown-menu">
                                    <input class="form-control" id="user-changelogFilter" type="text" placeholder="Search RPM ...">
                                    <li><a class="theme" href="/rpms-changelog">-ALL-</a></li>
                                    {%- if rpm_changes != None %}
                                    {%- for rpm in rpm_changes.get_uniq_rpms() %}
                                    {%- set hrefstr = "/rpms-changelog/" + rpm %}
                                    <li><a class="theme" href={{ hrefstr }}>{{ rpm }}</a></li>
                                    {%- endfor %}
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </td>
                    <!-- END of RPM selection dropdown list -->

                    <!-- Table filter button -->
                    <td id="settings-cell" class="thin-border theme">
                        <a class="theme" href="#">
                            <b id="filter-button" class="fas fa-cog white fa-2x theme-shadow"></b>
                        </a>
                    </td>
                    <!-- END of Table filter button -->
                    <!-- Change Log Switcher -->
                    {%- if rpm == '-ALL-' %}
                        {%- set href = "/rpms" %}
                    {%- else %}
                        {%- set href = "/rpms/" + rpm %}
                    {%- endif %}
                    <td style="padding: 10px">
                        <a href={{ href }}>
                            <b class="theme smallest-text">Switch to RPM view</b>
                        </a>
                    </td>
                    <!-- END of Change Log Switcher -->
                </tr>
            </table>

            <!-- MAIN table with the Change logs -->
            <table class="table-responsive" style="margin-left: 10px" id="table-rpms-changelog">
                <tr>
                    <th id="server_name-col" class="medium-double-border em-horiz-table-header vert-grad large-text" style="min-width: 160px">
                         <b id="server_name-col-sort" class="fas fa-sort smaller-text"> server name</b>
                    </th>
                    {%- if rpm_changes != None %}
                    {%- for column in rpm_changes.get_all_columns_but('server_name') %}
                    {%- set col_name = column + "-col" %}
                    <th id={{ col_name }} class="medium-double-border em-horiz-table-header vert-grad large-text">
                        {%- set text = '{}-sort'.format(col_name) %}
                        <b id={{ text }} class="fas fa-sort"> {{ column.replace("_", " ") }}</b>
                    </th>
                    {%- endfor %}
                    {%- endif %}
                </tr>
                {%- if rpm_changes != None %}
                {%- for changes in rpm_changes.filter_by_rpm(rpm) %}
                <tr id="row-{{ loop.index + 1 }}">
                    <td class="medium-double-border em-vert-table-header horiz-grad right">
                        <p class="smaller-text right bold">{{ changes[0] }}</p>
                    </td>
                    <!-- Feeding the table with the changes, but skipping 'server name' and 'change type' -->
                    {%- for change in changes[1:7] %}
                    {%- set cell_id = "{}_{}".format(changes[0], attr) %}
                    <td class="em-table-content thin-dashed-border ">
                        <p class="smallest-text">{{ change }}</p>
                    </td>
                    {%- endfor %}
                </tr>
                {%- endfor %}
                {%- endif %}
            </table>
            <!-- END of MAIN table with the Change logs -->

            <!-- Draggable FORM FILTER -->
            <div id="draggable-filter" class="medium-double-border">
                <div id="draggable-filter-header" class="horiz-grad">
                    <table style="min-width: 100%;">
                        <tr>
                            <td class="white bold left" id="filter-bar">
                                <b class="fas fa-cog largest-text"> Table Filters</b>
                            </td>
                            <td class="right">
                                <b id="filter-close" class="fa fa-window-close fa-2x theme"></b>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <!-- 'Accordion' to display Filters -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading themed-hover">
                                <h4 class="panel-title theme">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <b class="fa fa-filter"> Select Servers </b>
                                        <b class="fas fa-caret-down"></b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse theme">
                                <div class="panel-body">
                                    <!-- include / exclude servers list -->
                                    <table>
                                        <tr>
                                            <td class="left">
                                                <p><b> Included Servers: </b></p>
                                                <select multiple name="select" id="select-servers-included" size="10">
                                                    {%- if rpm_changes != None %}
                                                    {%- for server in rpm_changes.get_servers_by_rpm(rpm) %}
                                                    <option class="themed-hover" value={{ server }} >
                                                        {{ server }}
                                                    </option>
                                                    {% endfor %}
                                                    {% endif %}
                                                </select>
                                                <p class="left">
                                                    <button id="button-servers-exclude">Exclude >></button>
                                                </p>
                                            </td>
                                            <td class="left">
                                                <p><b> Excluded Servers: </b></p>
                                                <select multiple name="select" id="select-servers-excluded" size="10">
                                                </select>
                                                <p class="left">
                                                    <button id="button-servers-include"><< Include</button>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END of include / exclude servers list -->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading themed-hover">
                                <h4 class="panel-title theme">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <b class="fa fa-filter"> Select Columns </b>
                                        <b class="fas fa-caret-down"></b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse theme">
                                <div class="panel-body">
                                    <!-- include / exclude attributes list -->
                                    <table>
                                        <tr>
                                            <td class="left">
                                                <p><b> Included Columns: </b></p>
                                                <select multiple name="select" id="select-attr-included" size="10">
                                                    {%- if rpm_changes != None %}
                                                    {%- for column in rpm_changes.get_columns() %}
                                                    <option class="themed-hover" value={{ column }} />
                                                    {{ column }}
                                                    </option>
                                                    {%- endfor %}
                                                    {% endif %}
                                                </select>

                                                <p class="left">
                                                    <button id="button-attr-exclude">Exclude >></button>
                                                </p>
                                            </td>
                                            <td class="left">
                                                <p><b> Excluded Attributes: </b></p>
                                                <select multiple name="select" id="select-attr-excluded" size="10">
                                                </select>
                                                <p class="left">
                                                    <button id="button-attr-include"><< Include</button>
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END of include / exclude attributes list -->
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading themed-hover">
                                <h4 class="panel-title theme">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <b class="fa fa-filter"> Select Date Range </b>
                                        <b class="fas fa-caret-down"></b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse theme">
                                <div class="panel-body">
                                    <!-- include / exclude attributes list -->
                                    <table>
                                        <tr>
                                            <td class="left">
                                                <p><b> Start Date: </b></p>
                                                <input id="input-startdate" type="date" min="2018-12-01">
                                            </td>
                                            <td class="left">
                                                <p><b> End Date: </b></p>
                                                <input id="input-enddate" type="date" min="2018-12-01">
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END of include / exclude attributes list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of 'Accordion' to display Filters -->

                    <!-- Error Box -->
                    <div id="error-box" class="error-bg">
                    </div>
                    <!-- END of Error Box -->

                    <!-- Apply / Cancel / Reset Buttons -->
                    <button id="btn-ff-apply" type="button" class="themed-hover bg-theme btn-filter-form float-left">
                        <b class="fa fa-check theme"> Apply Filter</b>
                    </button>
                    <button id="btn-ff-reset" type="button" class="themed-hover bg-theme float-right btn-filter-form">
                        <b class="fa fa-recycle theme"> Reset</b>
                    </button>
                    <button id="btn-ff-cancel" type="button" class="themed-hover bg-theme float-right btn-filter-form">
                        <b class="fa fa-ban theme"> Cancel</b>
                    </button>
                    <!-- END of Apply / Cancel / Reset Buttons -->
                </div>
            </div>
            <!-- END of Draggable FORM FILTER -->

            <!-- Shadow layer when Filter form is active -->
            <div id="shadow-layer">
            </div>
            <!-- END of Shadow layer when Filter form is active -->
            <script src="/static/js/tablehandler.js"></script>
            <script src="/static/js/rpms-changelog.js"></script>
{%- endblock %}