{% extends 'layouts/base.html' %}
{% block title %}Easy Manager - Servers{% endblock %}
{% block body %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}">
        <div class="container">
            <div class="tab-content">
                <table class="table table-hover table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th id="#name">Name</th>
                            <th id="#ipaddress">Ipaddress</th>
                            <th id="#oslevel">Oslevel</th>
                            <th id="#cores">Cores</th>
                            <th id="#vprocs">Vprocs</th>
                            <th id="#cpu_type">Cpu_type</th>
                            <th id="#cpu_mode">Cpu_mode</th>
                            <th id="#memory">Memory</th>
                            <th id="#iscluster">Cluster</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for srv_name, attrs in servers_dict.iteritems() %}
                        <tr>
                            <th>{{ srv_name }}</th>
                            <td>{{ attrs.ipaddress }}</td>
                            <td>{{ attrs.oslevel }}</td>
                            <td>{{ attrs.cores }}</td>
                            <td>{{ attrs.vprocs }}</td>
                            <td>{{ attrs.cpu_type }}</td>
                            <td>{{ attrs.cpu_mode }}</td>
                            <td>{{ attrs.memory }}</td>
                            <td>{{ attrs.cluster_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="/static/js/template-users.js"></script>
{% endblock %}
