<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/browser.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-all.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alt_base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/text-deco.css') }}">
        <title> {% block title %} {% endblock %} </title>
    </head>
    <body>
        <div id="header" class="horiz-grad">
            <div id="em-logo">
                <h2 class="text-left white"><a href="/">Easy Management</a></h2>
            </div>
            <div id="navigation-bar">
                <table id="navbar-table" class="text-large">
                    <tr>
                        <td>
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </td>
                        <td>
                            <a href="/servers"><i class="fa fa-server"></i> Servers</a>
                        </td>
                        <td class="navbar-dropdown">
                            <a href="/users">
                                <i class="fa fa-users"></i> Users <i class="fa fa-caret-down"></i>
                                <div class="navbar-dropdown-content">
                                    <a href="/users" class="navbar-hover">
                                        <i class="fa fa-level-up-alt"></i> View
                                    </a>
                                    <a href="/users-changelog" class="navbar-hover">
                                        <i class="fa fa-level-up-alt"></i> Change Log
                                    </a>
                                </div>
                            </a>
                        </td>
                    </tr>
                </table>
            </div >
        </div>
        <div id="panel-base">
            {%- block body %}
            {%- endblock %}
        </div>
    </body>
    <footer class="main-footer fixed horiz-grad theme">
        <ul class="list-inline text-center">
            <li class="text-muted"><b>Easy Management &copy; 2018</b></li>
            <li><a class="theme" href="">FAQ</a></li>
        </ul>
    </footer>
</html>
