{% extends 'layouts/base.html' %}
{% block title %}Easy Manager - users/{{ user }}{% endblock %}
{% block body %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}">
            <input class="form-control table-filter" id="table-filter" type="text" placeholder="Filter ...">
            <table id="user-table" class="table-responsive" style="margin-left: 10px">
                <thead>
                    <tr>
                        <th CLASS="em-horiz-table-header">
                            <ul class="em-dropdown thin-border theme em-dropdown-cell">
                                <li class="dropdown text-large ">
                                    <a data-toggle="dropdown" class="theme" href="#"><b class="fa fa-user"> </b> {{ user }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <input class="form-control" id="userFilter" type="text" placeholder="Search user ...">
                                        {%- for uniq_user in uniq_users %}
                                        {%- set hrefstr = "/users/" + uniq_user %}
                                        <li><a class="theme" href={{ hrefstr }}>{{ uniq_user }}</a></li>
                                        {%- endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </th>
                        {%- for attr in user_query[0].get_columns()[3:] %}
                        <th id={{ attr }} class="medium-double-border em-horiz-table-header vert-grad">
                            <p class="smaller-text">{{ attr.replace("_", " ") }}</p>
                        </th>
                        {%- endfor %}
                    </tr>
                </thead>
                <tbody id="user-table-body">
                    {%- for userobj in user_query %}
                    {%- set uniq_key = user + "_" + userobj.server_name %}
                    <tr id={{ uniq_key }}>
                        <th class="medium-double-border em-vert-table-header horiz-grad right">
                            <b class="smaller-text right">{{ userobj.server_name }}</b>
                        </th>
                        {%- for attr in user_query[0].get_columns()[3:] %}
                            <td class="em-table-content thin-dashed-border ">
                                <p class="smallest-text">{{ userobj.get_column_value('{}'.format(attr)) }}</p>
                            </td>
                        {%- endfor %}
                    </tr>
                    {%- endfor %}
                </tbody>
            </table>
            <script src="/static/js/template-users.js"></script>
            <script src="/static/js/tablehandler.js"></script>
{%- endblock %}